.auth-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0px 4px 10px var(--shadow-light);
  }
  
  .auth-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--dark-text);
  }
  
  .auth-container form input, .auth-container form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--border-light);
    border-radius: 5px;
    background: var(--card-bg);
    color: var(--dark-text);
  }
  
  .auth-container button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-blue);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-container button:hover {
    background-color: var(--primary-blue-dark);
  }
  